.body {
  margin: 0;
  max-width: 1440px;
  width: 100%;
}
.container {
  display:flex;    
  align-items:center;
  flex-direction: column;
  height: 100%
  }

  .item {
  color: white;
  position:absolute;
  background-position:100%;
  background-repeat: no-repeat;
  }

h2 {
  width: 100px;
  height: 20px;
  margin-top: 41px;

 }

h1 {
  font-family:"Bebas Neue";
  margin-top: 381px;
  font-size: 55px;
  font-weight:lighter;
  letter-spacing: 6px; 
}

h3 {
  font-family: "Open Sans";
  font-size: 16px;
  margin-top: 440px;
  
  
}
h4 {
  font-family: "Open Sans";
   font-size: 13px;
   margin-top: 683px;
  letter-spacing: 3px; 
}
.menu {
  padding-right: 250px;
  padding-top: 10px;
  color: #48555B;
  font-family:"Open Sans";
  list-style-type: none;
  display: flex;
  gap:40px;
  justify-content: center;
  font-size: 13px;
}
.menu-link-1 {
  padding-right:450px ;
}
.menu-link-3 {
  color: #00A4E5;
}

.main-title {
  width: 941px;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.story {
  margin: 0;
  width:121px ;
  height: 25px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 0.13em;
  text-align: center;
  color: #48555b;
 
}
.img-main-title {
  width: 50px;
  height: 0;
  margin: 0;
  padding-top: 8px;
}
 

 .hero {
  margin-top: 71px;
  margin-bottom: 107px;
  display: flex;
  align-items: center;
  justify-content: center;
 } 

 .hero-row {
  width:940px;
  height: 340px;
  display: flex;
  flex-direction:row;
  align-items:flex-end;
  justify-content:space-between;
  }

   
 .hero-left {
  max-width: 405px;
  display: flex;
  flex-direction: column;
  margin-right: 76.92px; ;
  } 

.hero-title {
  width: 405px;
  height: 90px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.01em;
  color: #48555b;
}

.blue {
    letter-spacing: 0.01em;
  color: #16ace8;
  }

.hero-desk {
  margin-bottom: 1px;
  font-family:"Open Sans" ;
  font-weight: 400;
  font-size: 13px;
  line-height: 177%;
  letter-spacing: 0.01em;
  color: #48555b;
}

.hero-image {
  display: flex;
  gap:20px;
  

}

.capa {
  margin-bottom:107px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.capa-row {
  display: flex;
  height: 340px;
  gap: 28px;
  
}

.capa-item {
  font-weight: 400;
  font-size: 13px;
  line-height: 177%;
  letter-spacing: 0.01em;
  color: #48555b; 
  padding: 38px 22px 15px 23px;
  border:1px solid #e6e6e6 ;
  font-family:"Open Sans"
  
}

.capa-item-title {
  width: 250px;
  height: 48px;
  margin-top: 25px;
  font-family:"Open Sans";
  font-weight: 700;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #48555b;
}

.capa-item-desk {
  width: 250px;
  height: 92px;
  
}

.capa-title-row {
  margin-bottom: 71px;
  width: 940px;
  display:flex;
  flex-direction: row;
  align-items:flex-start;
  gap:50px;
  justify-content: space-between;
}
.capa-title-title {
  margin:0;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.13em;
  color: #48555b;
}

.capa-title-desc {
  width: 405px;
  height: 38px;
  font-family:"Open Sans";
  font-weight: 400;
  font-size: 11px;
  line-height: 173%;
  letter-spacing: 0.02em;
  color: #48555b;
  margin: 0;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.btn.white {
  background: #0070a0;
  width: 150px;
  height: 40px; 
  color: #fff;
  font-family:"Open Sans";
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.04em;
  text-align: center;
  text-decoration: none;
  }

.btn.white:hover {
  background: #fff;
  color: #0070a0;
}

.img-main-title {
  margin-top: -15px;
}

.guide-row {
  margin: 0;
  width: 1440px;
  height: 240px;
  padding: 41px 0 0;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction:row;
  align-items:flex-start;
  justify-content:space-between;
  background: #141a20;
  color: #fff;
}
.company {
  margin-left: 220px;
  width: 250px;
  height: 148px;
  font-weight: 400;
  font-size: 11px;
  line-height: 173%;
  letter-spacing: 0.08em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 }

.link-menu-item {
  list-style: none;
}
.company-title {
  margin: 0;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.08em;
}
.links-title {
  margin: 0;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.08em;
}
.contact-title {
  margin: 0;
}
.links {
  display: flex;
  flex-direction:row;
  align-items: center;
  gap: 34px 38px;
}
.link-menu-column{
  margin: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 227%;
  letter-spacing: 0.08em;
}
.contact {
  max-width: 141px;
  width: 100%;
  height: 158px;
  font-weight: 400;
  font-size: 11px;
  line-height: 145%;
  letter-spacing: 0.08em;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}
.social {
  margin-right: 100px;
  padding-top: 30px;
}
.end {
  color: #fff;
  background: #171819;
  max-width: 1440px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.08em;
  font-family:"Open Sans", sans-serif;
}
.touch {
  background: url(../img/touch.png);
  background-repeat: no-repeat;
  background-position: center;
}
.touch-row {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 37px
}
.touch__title{
  margin:0;
}
.touch-btn {
  
}
.touch-btn-white {
  text-decoration-style: none;
  width: 150px;
  height: 40px;
  color: white;
  background-color:#00a4e5;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.04em;
  text-align: center;
 }

.touch-btn-white:hover {

}

@media (max-width: 391px){
  .body {
  margin: 0;
  max-width: 391px;
  width: 100%;
}
  .item {
    font-size: 10px;
    display: flex;
  }
  .banner {
    max-width:500px ;
    width: 100%;
    margin-left: 30px;
  }
  .menu{
    display: none;
  }
  .story {
    margin: 0;
    font-size: 10px;
  }
  .img-main-title {
   margin-top: 10px;
   padding: 0;
  }
  .img-title-1{
    margin: 0;
    padding-top: -15px;
  }
  .hero-row {
    display: flex;
    flex-direction: column;
  }
  .capa-title-title,
  .hero-desk, 
  .hero-title, 
  .item {
    font-size: 10px;
    margin: 10px 0;
  }
  .capa-row{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 30px;
    padding-top: 30px;
  }
  .hero-row{
    max-width: 390px;
    width: 100%;
    height: 100%;
  }
  .hero-image,
  .capa-title-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .hero-left,
  .hero-title,
  .capa-title-desc {
    margin: 0;
    max-width: 300px;
    width: 100%;
    height: 100%;  
  }
  .hero-left {
    padding-right: 20px;
  }
  .capa-title-desc{
    padding-left: 70px;
  }
  .item__img{
    width: 30px;
    height: 15px;
  }
  h4 {
    margin-top: ;
  }
  .item__3{
   padding-top: 150px;
  }
  .item__2{
    padding-top: 98px;
  }
  .item__1{
    padding-top: 88px;
  }
  .img__hero{
    width: 250px;
    padding-right: 70px;
  }
  .hero{
    margin: 30px 0;
  }
  }



